@page "/Login"
@using DatingApp.FrontEnd.Gateway.DotNetGateway
@using DatingApp.FrontEnd.Models
@using DatingApp.FrontEnd.Models.CurrentUser

@inject NavigationManager NavigationManager
@inject GatewayAdapter gtwAdapter
@inject ICurrentUser currentUser
@inject IBlazorStrap _blazorStrap

<div class="row login-content">
    <div class="col-lg-1 login-main-diff">
        <div class="row title-div">
            <h3>Login</h3>
        </div>
        <div class="row title-div">
            <p>Hey, Enter your details to sign in to your account</p>
        </div>

        <EditForm class="row" Model="@userLogin" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <BSCol Position="Position.Relative" ColumnMedium="12">
                <BSValidationSummary />
            </BSCol>

            @*Spinner*@
            @if (isLogginProcessing)
            {
                <div class="spinner-div">
                    <BSSpinner id="spinner" Class="spinner" Color="BSColor.Warning" Size="Size.ExtraLarge" />
                </div>
            }

            <div class="row form-control-row">
                <BSInput placeholder="Enter Email / Username" @bind-Value="userLogin.Login" />
            </div>
            <div class="row form-control-row">
                <BSInput InputType="InputType.Password" placeholder="Password" @bind-Value="userLogin.Password" />
            </div>

            <div class="row form-text-row">
                <a class="btn-link">Having troubles with sing in?</a>
            </div>

            <div class="row form-control-row">
                <button type="submit" id="login-btn" disabled="@(isLogginProcessing)" class="btn login-btn">Sing in</button>
            </div>

            <div class="row form-text-row">
                <p>Don't have account?</p>
                <a class="btn-link" @onclick="OnRegisterClick">Register Now</a>
            </div>
        </EditForm>
    </div>
</div>

@*Warning toaster*@
<BSToaster/>

@code {
    UserLogin userLogin = new();
    bool showWarning;
    bool isLogginProcessing;

    void OnRegisterClick()
    {
        NavigationManager.NavigateTo("Register");
    }

    async Task HandleValidSubmit()
    {
        isLogginProcessing = true;
        var response = await gtwAdapter.LoginAsync(userLogin);
        isLogginProcessing = false;

        if (response != null)
        {
            currentUser.SetCurrentUser(response.Token);

            if (currentUser.IsLoggedIn)
            {
                NavigationManager.NavigateTo("Dashboard");
            }
            else
            {
                var warningMessage = "Something went wrong during login";
                ShowToaster(warningMessage, 5000);
            }
        }
        else
        {
            var warningMessage = "Login or password is incorrect";
            ShowToaster(warningMessage, 5000);
        }
    }

    private void ShowToaster(string message, int timer)
    {
        _blazorStrap.Toaster.Add(message, o =>
        {
            o.CloseAfter = timer;
            o.Toast = Toast.TopLeft;
            o.Color = BSColor.Warning;
        });
    }
}
