.login-content {
    height: 90vh;
}

.login-main-diff {
    margin: auto;
    border-radius: 30px;
    height: max-content;
    width: 28%;
    align-items: baseline;
    justify-content: space-between;
    -webkit-box-shadow: -1px 4px 20px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.75);
    align-content: space-around;
    overflow: hidden;
    padding-bottom: 2vh;
}

@media screen and (max-width: 1222px) {
    .login-main-diff {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .login-main-diff {
        width: 70%;
        height: 65vh;
    }
}

.title-div {
    text-align: center;
}

h3 {
    margin-top: 3vh;
}

p {
    margin-top: 3vh;
}

.form-control-row {
    align-content: stretch;
    margin-top: 2vh;
    margin-right: 0px;
    margin-left: 0px;
}

.form-text-row {
    text-align: center;
    margin-top: 2vh;
    margin-right: 0px;
    margin-left: 0px;
}

%validation-padding {
    padding-left: calc(var(--bs-gutter-x) * 1.5) !important;
}

ul.validation-errors {
    padding-left: calc(var(--bs-gutter-x) * 1.5) !important;
}
