@page "/Chat/{Id:int?}";

@attribute [Authorize]

<div class="chat-page">
    <div class="chat-wrapper">
        <div class="participants-list">

        </div>

        <div class="chat-window">
            <div class="incomming-msg">

            </div>

            <div class="outgoing-msg">

            </div>
        </div>
    </div>
</div>

@code {

}
