@using DatingApp.FrontEnd.Models.CurrentUser
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject ICurrentUser _currentUser; 

<PageTitle>DatingApp</PageTitle>

@if (_currentUser.IsLoggedIn) 
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="page">
    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>

        @if (!NavigationManager.Uri.Contains("PrivacyPolicy", StringComparison.OrdinalIgnoreCase))
        {
            <footer>
                <div class="footer footer-text-row">
                    <p>Copyright &copy;@DateTime.Now.Year |</p>
                    <a id="policy-link" class="btn-link" onclick="@OnPrivacyPolicyClick">Privacy Policy</a>
                </div>
            </footer>
        }
    </main>
</div>

@code {
    void OnPrivacyPolicyClick()
    {
        NavigationManager.NavigateTo("PrivacyPolicy");
    }
}