@using DatingApp.FrontEnd.Models.CurrentUser
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<PageTitle>DatingApp</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
</AuthorizeView>

<div class="page">
    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        @*<div class="content px-4">*@
            @Body
        @*</div>*@

        @if (!NavigationManager.Uri.Contains("PrivacyPolicy", StringComparison.OrdinalIgnoreCase))
        {
            <footer>
                <div class="footer footer-text-row">
                    <p>Copyright &copy;@DateTime.Now.Year |</p>
                    <a id="policy-link" class="btn-link" onclick="@OnPrivacyPolicyClick">Privacy Policy</a>
                </div>
            </footer>
        }
    </main>
</div>

@code {
    void OnPrivacyPolicyClick()
    {
        NavigationManager.NavigateTo("PrivacyPolicy");
    }
}