@using DatingApp.FrontEnd.Models.CurrentUser;

@inject ICurrentUser _currentUser;

<div @onclick="ToggleNavMenu">
    <BSNav Justify="Justify.End">
        <BSNavItem IsActive="isActive">Find you destiny</BSNavItem>
        <BSNavItem>Chats</BSNavItem>
        <BSNavItem>Likes</BSNavItem>
        <BSNavItem title="Account">Welcome, @userName&nbsp;<i class="fa-regular fa-circle-user"></i></BSNavItem>
        <BSNavItem title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></BSNavItem>
    </BSNav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool isActive = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public string userName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        userName = await _currentUser.GetFirstNameAsync();
    }
}
