@using DatingApp.FrontEnd.Infrastructure
@using DatingApp.FrontEnd.Models.CurrentUser;

@inject ICurrentUser _currentUser;
@inject IAuthenticationStateHandler _authStateHandler;
@inject NavigationManager _navigationManager;

<div>
    <BSNav Justify="Justify.End">
        <BSNavItem Url="Dashboard">Find you destiny</BSNavItem>
        <BSNavItem>Likes</BSNavItem>
        <BSNavItem>Chats</BSNavItem>
        <BSNavItem title="Account" Url="Account">Welcome, @userName&nbsp;<i class="fa-regular fa-circle-user"></i></BSNavItem>
        <hr class="nav-divider"/>
        <BSNavItem title="Logout" Target="logoutConfirmation" Class="not-menu-item"><i class="fa-solid fa-arrow-right-from-bracket"></i></BSNavItem>
    </BSNav>
</div>

<ConfirmationDialog Id="logoutConfirmation" Message="Do you want to log out from the system?" OnConfirmClick=OnLogoutConfirmed></ConfirmationDialog>

@code {
    public string userName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        userName = await _currentUser.GetFirstNameAsync();
    }

    public void OnLogoutConfirmed()
    {
        _authStateHandler.DeleteToken();
        _authStateHandler.UpdateState();
        _navigationManager.NavigateTo("Login");
    }
}
