.member-card {
    height: 500px;
    width: 420px;
    align-content: space-around;
}

.member-photo {
    height: 100%;
    display: flex;
    align-content: flex-end;
}

.member-actions {
    height: 10%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-bottom: 10px;
    align-self: end;
}

.hidden-member-actions {
    display: none;
}

.member-cards-gallery {
    display: flex;
    height: calc(90vh - 50px);
    justify-content: center;
    align-items: center;
}

.innactive-card-first {
    filter: blur(5px);
    height: calc(500px - 10vh) !important;
    width: calc(420px - 5vw) !important;
    position: absolute;
    left: calc(50% + 420px / 10);
    bottom: calc(50% - 500px / 3);
    z-index: -1;
}

.innactive-card-second {
    filter: blur(7px);
    height: calc(500px - 15vh) !important;
    width: calc(420px - 5vw) !important;
    position: absolute;
    left: calc(50% + 420px / 2);
    bottom: calc(50% - 2 * 500px / 7);
    z-index: -2;
}

.no-members-img-container {
    padding-top: 10vh;
    text-align: center;
}

.no-member-image {
    color: indianred;
}

.no-members-msg-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-content: center;
    text-align: center;
}

@media screen and (max-width: 1222px) {
    .innactive-card-second {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .innactive-card-first {
        display: none;
    }

    .innactive-card-second {
        display: none;
    }
}

.member-details {
    display: flex;
    justify-content: space-evenly;
    height: 30%;
    align-self: flex-end;
    align-content: flex-start;
}

.member-interests {
    height: 17%;
}

p.interests-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.move-card {
    -webkit-animation-name: moveCardAnimation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes moveCardAnimation {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
    }

    to {
        -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
    }
}*/
