@page "/Account"

<div class="account-body">
    <div class="account-container">
        <div class="user-details-container">
            <div class="avatar">

            </div>

            <div class="main-info-containe">

            </div>
        </div>

        <div class="other-details">
            <div class="all-photos">

            </div>

            <div class="about-user">

            </div>
        </div>
    </div>
</div>

@code {

}
